<#include "header.html">
	<body>
		<br>
		<div class="container">
			<div class="columns col-gapless">
				<div class="column col-12">
					<div class="text-left text-bold"><p><h1>Gestione delle pubblicazioni</h1></p></div>
				</div>
			</div>
		</div>
		<table class="table table-striped table-hover">
		  	<thead>
		    	<tr>
			      <th>Utente</th>
			      <th>Titolo</th>
			      <th>Descrizione</th>  
			      <th>Data</th>
			      <th></th>
		    	</tr>
			</thead>
			<!-- tbody è l'attributo da moltiplicare in base al risultato delle query -->
			<tbody>
			    <tr>
			    	<td>mario@gmail.it</td>
			    	<td><a class="btn btn-link">per un pugno di Libri</a></td>			    	
			    	<td>Questo romanzo racconta la storia di una bibliotecaria che, invidiosa della collezione di libri di un altra biblioteca... bla bla bla bla blab lab l.. blalb blalblabla, lablabla!! allll blalblablakoadskiahsdu blsblablbla</td>
			    	<td>10/20/1000</td>
			    	<td><button class="btn btn-primary">Rimuovi</button></td>
			    </tr>
			</tbody>
			<tbody>
			    <tr>
			    	<td>mario@gmail.it</td>
			    	<td><a class="btn btn-link">per un pugno di Libri</a></td>			    	
			    	<td>Questo romanzo racconta la storia di una bibliotecaria che, invidiosa della collezione di libri di un altra biblioteca... bla bla bla bla blab lab l.. blalb blalblabla, lablabla!! allll blalblablakoadskiahsdu blsblablbla asd asdasdadsjasoj doiajsdja sjas dapsjdasopd kopaskd pjasdj aspodkaposkd kasdsoj asskdopasjdo asodkaposkd pajsidk aposdlpaojsdjapsd poaksdpok aopsdkiohasiodjapskd poaskjdij aspdkaspokd ipajsdpo kasèdlkaposd jpoaskdèaksdopkpa</td>
			    	<td>10/20/1000</td>
			    	<td><button class="btn btn-primary">Rimuovi</button></td>
			    </tr>
			</tbody>
			<tbody>
			    <tr>
			    	<td>mario@gmail.it</td>
			    	<td><a class="btn btn-link">per un pugno di Libri</a></td>			    	
			    	<td>Questo romanzo racconta la storia di una bibliotecaria che, invidiosa della collezione di libri di un altra biblioteca... </td>
			    	<td>10/20/1000</td>
			    	<td><button class="btn btn-primary">Rimuovi</button></td>
			    </tr>
			</tbody>
		</table>
	</body>
<#include "footer.html">