<#include "header.html">
	<body>
		<br>
		<div class="container">
			<div class="columns col-gapless">
				<div class="column col-12">
					<div class="text-left text-bold"><p><h1>Gestione delle recensioni</h1></p></div>
				</div>
			</div>
		</div>
		<table class="table table-striped table-hover">
		  	<thead>
		    	<tr>
			      <th>Email Utente</th>
			      <th>Pubblicazione</th>
			      <th>Testo Recensione</th>  
			      <th>Data</th>
			      <th></th>
			      <th></th>
		    	</tr>
			</thead>
			<!-- tbody è l'attributo da moltiplicare in base al risultato delle query -->
			<#if listaRecensioni ??>
				<#list listaRecensioni as Recensione>
					<tbody>
					    <tr>
					    	<td>${Recensione.getNomeUtente()}</td>			    	
					    	<td>${Recensione.getTesto()}</td>
					    	<td>${Recensione.getData()}</td>
					    	<td><button class="btn btn-primary">Accetta</button></td>
					    	<td><button class="btn btn-primary">Rifiuta</button></td>
					    </tr>
					</tbody>
				</#list>
			</#if>
			
		</table>
	</body>
<#include "footer.html">