<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content="Tersigni  Federico"/>
		<title>Gestione Tag</title>
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
	</head>
	<header class="navbar p-2 bg-dark">
		  <section class="navbar-section">
		   		<a href="..." class="navbar-brand mr-2 text-light">Biblioteca Alfa Omega</a>
		    	<a href="..." class="btn btn-link text-light">Catalogo</a>
		    	<a href="..." class="btn btn-link text-light">Aiuto</a>
		  </section>

		  <section class="navbar-section">
		  		<!-- SE loggato --><!--
		    	<div class="input-group input-inline">
		    		<!-- SE ATTIVO O ADMIN --><!--
					<a href="..." class="btn btn-link text-light">Pannello di Gestione</a>
		    		-->
		      		<a href="..." class="btn btn-link text-light">Connesso come email@email.com</a>
		    		<a href="..." class="btn btn-link text-primary">(logout)</a>
		    	</div> -->
		    	<!-- SE NON LOGGATO -->
		    	<!--
		    	<div class="input-group input-inline">
		    		<a href="..." class="btn btn-link text-light">Login</a>
		    		<a href="..." class="btn btn-link text-light">Registrati</a>
		    	</div>
		    	-->
		  </section>
	</header>
	<body>
		<br>
		<div class="container">
			<div class="columns col-gapless">
				<div class="column col-12">
					<div class="text-left text-bold"><p><h1>Gestione dei Tag</h1></p></div>
				</div>
			</div>
			<br>
			<div class="columns col-gapless">
				<div class="column col-12">
					<div class="text-center"><p><h3>Lista dei Tag presenti nel sistema:</h3></p></div>
				</div>
				<br>
				<div class="column col-6">
					<div class="columns">
						<div class="column col-7">
							<p class="text-center">Drammatico</p>
						</div>
						<div class="column col-2">
							<a class="btn btn-primary">Modifica</a>
						</div>
						<div class="column col-2">
							<a class="btn btn-primary">Elimina</a>
						</div>
					</div>
				</div>
				<div class="column col-6">
					<div class="columns">
						<div class="column col-7">
							<p class="text-center">Drammatico</p>
						</div>
						<div class="column col-2">
							<a class="btn btn-primary">Modifica</a>
						</div>
						<div class="column col-2">
							<a class="btn btn-primary">Elimina</a>
						</div>
					</div>
				</div>
				<div class="column col-6">
					<div class="columns">
						<div class="column col-7">
							<p class="text-center">Drammatico</p>
						</div>
						<div class="column col-2">
							<a class="btn btn-primary">Modifica</a>
						</div>
						<div class="column col-2">
							<a class="btn btn-primary">Elimina</a>
						</div>
					</div>
				</div>
				<div class="column col-6">
					<div class="columns">
						<div class="column col-7">
							<p class="text-center">Drammatico</p>
						</div>
						<div class="column col-2">
							<a class="btn btn-primary">Modifica</a>
						</div>
						<div class="column col-2">
							<a class="btn btn-primary">Elimina</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="column col-12">
				<div class="text-center text-bold"><p><h3>Inserimento nuovo tag</h3></p></div>
			</div>
			<div class="column col-5 col-mx-auto">
				<form>
					<div class="form-group">
					 	<label class="form-label" for="inputTag">Nome del nuovo Tag da inserire</label>
					  	<input class="form-input" type="text" id="inputTag" placeholder="Name" required>
					  	<br>
					  	<button class="p-centered text-bold btn" type="submit" id="invioTag" name="value" value="invioTag" required> Crea Nuovo Tag </button> 
					</div>
				</form>
			</div>
		</div>
		
	</body>
	<footer class="navbar p-2 bg-dark" style="position:absolute;bottom:0;width:100vw">
		<section class="navbar-section">
		    	<a href="..." class="btn btn-link text-light">Aiuto!</a>
		</section>

		<section class="navbar-section">
		    	<div class="input-group input-inline">
		      		<a href="..." class="btn btn-link text-light pr-2">Copyright @ Federico Tersigni 2019</a>
		    	</div>
		</section>
	</footer>

</html>