<#include "header.html">
	<body>
		<br>
		<div class="container">
			<div class="columns col-gapless">
				<div class="column col-12">
					<div class="text-left text-bold"><p><h1>Gestione degli Autori</h1></p></div>
				</div>
			</div>
			<br>
			<div class="columns col-gapless">
				<div class="column col-12">
					<div class="text-center"><p><h3>Lista degli Autori presenti nel sistema:</h3></p></div>
				</div>
				<br>
				<#if listaAutori ??>
					<#list listaAutori as Autore>
						<div class="column col-6">
							<div class="columns">
								<div class="column col-7">
									<p class="text-center">${Autore.getNome()}</p>
								</div>
								<div class="column col-2">
									<a class="btn btn-primary">Modifica</a>
								</div>
								<div class="column col-2">
									<a class="btn btn-primary">Elimina</a>
								</div>
							</div>
						</div>
					</#list>
				</#if>
				
			</div>
			<br>
			<br>
			<div class="column col-12">
				<div class="text-center text-bold"><p><h3>Inserimento nuovo Autore</h3></p></div>
			</div>
			<div class="column col-5 col-mx-auto">
				<form method="post" role="form">
					<div class="form-group">
					 	<label class="form-label" for="inputAutore">Nome del nuovo autore da inserire</label>
					  	<input class="form-input" type="text" id="inputAutore" placeholder="Name" required>
					  	<br>
					  	<button class="p-centered text-bold btn" type="submit" id="invioAutore" name="value" value="invioAutore" required> Crea Nuovo Autore </button> 
					</div>
				</form>
			</div>
		</div>
		
<#include "footer.html">