<#include "header.html">
	<!--	dettagliProfilo.html == Avrà la lista delle informazioni dell'utente specifico. SE è il proprio profilo O se si è l'admin, si vedranno
			alcuni tasti di modifica così da cambiare le cose nel DB. (Ricorda che l'admin deve poter vedere la password dell'utente specifico.)-->
	<body>

		<div class="container">
			<div class="columns col-gapless">
				<div class="column col-12">
					<div class="text-bold"><p><h2> Profilo Utente</h2></p></div>
				</div>
			</div>
			<div class="columns col-gapless">
				<div class="column col-6">
					<div class="text-left">
						<p><div class="text-bold">Nome  </div>Nome utente</p>
						<p><div class="text-bold">Cognome </div>Cognome utente</p>
						<p><div class="text-bold">Data di Nascita </div> 10/08/2009</p>
					</div>
				</div>
				<div class="column col-6">
					<div class="text-left">
						<p><div class="text-bold">Email  </div>email utente</p>		
						<p><div class="text-bold">Data iscrizione </div> 10/08/2009</p>
						<p><div class="text-bold">Ruolo </div>Attivo/Passivo</p>
					</div>
				</div>
			</div>
			<br>
			<div class="columns col-gapless">
				<div class="column col-12">
					<p><div class="text-bold text-left">Numero di recensioni inserite -> <u>10</u></div></p>
					<p><div class="text-bold text-left">Numero di 'Mi Piace' inseriti -> <u>20</u></div></p>
					<!-- Parte utente attivo 
					<p><div class="text-bold text-left">Pubblicazioni inserite nel sistema -> </div></p>
					<p><div class="text-bold text-left">Lista delle azioni compiute nel sistema -> </div></p>		
					-->		
				</div>
			</div>
		</div>


	</body>
<#include "footer.html">