<#include "header.html">
	<!--	dettagliProfilo.html == Avrà la lista delle informazioni dell'utente specifico. SE è il proprio profilo O se si è l'admin, si vedranno
			alcuni tasti di modifica così da cambiare le cose nel DB. (Ricorda che l'admin deve poter vedere la password dell'utente specifico.)-->
	<body>

		<div class="container">
			<#if utenteVisitato??>
				<div class="columns col-gapless">
					<div class="column col-12">
						<div class="text-bold"><p><h2> Profilo Utente</h2></p></div>
					</div>
				</div>
				<div class="columns col-gapless">
					<div class="column col-6">
						<div class="text-left">
							<p><div class="text-bold">Nome: </div>${utenteVisitato.getNome()}</p>
							<p><div class="text-bold">Cognome: </div>${utenteVisitato.getCognome()}</p>
							<p><div class="text-bold">Citta: </div>${utenteVisitato.getCitta()}</p>
							<p><div class="text-bold">Data di Nascita: </div>${utenteVisitato.getDataNascita()}</p>
						</div>
					</div>
					<div class="column col-6">
						<div class="text-left">
							<p><div class="text-bold">Email: </div>${utenteVisitato.getEmail()}</p>		
							<p><div class="text-bold">Data iscrizione: </div>${utenteVisitato.getData()}</p>
							<p><div class="text-bold">Ruolo: </div><#if utenteVisitato.getRuolo() == 0>Passivo<#elseif utenteVisitato.getRuolo()==1>Attivo<#elseif utenteVisitato.getRuolo()==2>Moderatore<#else>Admin</#if></p>
						</div>
					</div>
				</div>
				<br>
				<div class="columns col-gapless">
					<div class="column col-12">
						<#if canReq ??>
							<form method="post" role="form">
								<button type="submit" class="btn btn-primary" id="reqAtt" name="value" value="reqAtt">Richiedi passaggio ad utente attivo</button>
								<input type="hidden" name="idReq" value=""/>
							</form>
						</#if>
						<#if utente??>
							<#if utente.getRuolo() != 0 && utenteVisitato.getRuolo() != 0>
								<a class="btn show-modal" href="#profPubblicazioni"><b>Lista Pubblicazioni inserite dall'utente</b></a>
								<a class="btn show-modal" href="#profEntry"><b>Lista Entry dell'utente</b></a>
							</#if>
						</#if>
					</div>
				</div>
			</#if>
		</div>
						<div id="profEntry" class="modal modal-lg">
							<div class="modal-overlay"></div>
							<div class="modal-container">
								<div class="modal-header">
									<a href="#close" class="btn btn-clear float-right close-modal"></a>
									<div class="modal-title"><b>Lista Modifiche fatte dall'utente</b></div>
								</div>
								<div class="modal-body">
									<div class="content">
										<!-- Visualizza la lista dei capitoli -->
										<br>
										<#if listaEntry ??>
											<#list listaEntry as Entry>
												<div class="text-dark">
													<b>${Entry.getData()} - ${Entry.getTitolo()}</b> <br> 
													${Entry.getDescrizione()}
													<br>
												</div>
												<br>
											</#list>
										</#if>
									</div>
								</div>
								<div class="modal-footer">
									<a href="#close" class="btn btn-primary close-modal">Close</a>
								</div>
							</div>
						</div>
						
						
						<div id="profPubblicazioni" class="modal modal-lg">
							<div class="modal-overlay"></div>
							<div class="modal-container">
								<div class="modal-header">
									<a href="#close" class="btn btn-clear float-right close-modal"></a>
									<div class="modal-title">Lista delle pubblicazioni inserite dall'utente</div>
								</div>
								<div class="modal-body">
									<div class="content">
										<div class="form-group">
											<#if listaPubblicazioni ??>
												<#list listaPubblicazioni as Pubblicazione>
													<div class="text-dark">
														<b>${Pubblicazione.getTitolo()}</b> - ${Pubblicazione.getCodiceISBN()} - ${Pubblicazione.getDataInserimento()}
													</div>
													<br>
												</#list>
										</#if>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<a href="#close" class="btn btn-primary close-modal">Close</a>
								</div>
							</div>
						</div>
		
		

	</body>
<#include "footer.html">