<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content="Tersigni  Federico"/>
		<title>Homepage</title>
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<header class="navbar p-2 bg-dark navbar">
		<section class="navbar-section">
			<a href="home" class="navbar-brand mr-2 text-light">Biblioteca Alpha Omega</a>
		</section>
		<section class="navbar-section">
			<#if id != 0 && utente??>
				<form class="form-horizontal" method="post" role="form">
					<button type="submit" name="value" value="logout" class="btn btn-primary mr-1">Logout</button>
					
				</form>
				<form class="form-horizontal" method="post" role="form">
					<button type="submit" name="value" value="profilo" class="btn btn-primary mr-1">Profilo</button>
					
					<!-- Si trova in un form a parte perché deve passare l'id del dettaglioProfilo da visitare -->
				</form>
				<#if utente.getRuolo() != 1>
					<a href="pannelloGestione" class="btn btn-primary">Pannello di Gestione</a>					
				</#if>
			<#else>
				<!-- Usando Freemarker si va a modificare questa sezione così da ospitare altre cose -->
				<a href="registrazione" name="value" value="signin" class="btn btn-primary btn-lg">Registrati</a>
				<form class="form-horizontal" method="post" role="form">
					<div class="form-group">
						<input class="form-input col-5" name="email" type="text" id="logEmail" placeholder="Email">
						<input class="form-input col-5" name="password" type="text" id="logPassword" placeholder="Password">
						<button type="submit" name="value" value="login" class="btn btn-primary col-2">Login</button>
					</div>
				</form>
			</#if>
			
		</section>
	</header>



