<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content="Tersigni  Federico"/>
		<title>Homepage</title>
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<header class="navbar p-2 bg-dark">
		  <section class="navbar-section">
		   		<a href="..." class="navbar-brand mr-2 text-light">Biblioteca Alfa Omega</a>

		  </section>

		  <section class="navbar-section">
		  		
		    <a href="registrazione" name="value" value="signin" class="btn btn-primary mx-2">Registrazione</a>
		    <button class="btn btn-primary px-2">Login</button>
		    	
		  </section>
	</header>
<!--  -->


	<body class="bg-secondary">
		<script type="text/javascript">
			$(".close-modal").on("click", function() {
				alert("PROVA!!!!!");
			  $(this).closest('.modal').removeClass('active');
			});

			$(".show-modal").on("click", function() {
				alert("INIZIO")!!
			  $('.modal').addClass('active');
			});

		</script>
		<!-- divider element -->	
			<!-- vertical divider element with text -->
			<div class="columns pt-2">
				  <div class="column col-2">
				   		<!-- Colonna di sinistra: qui saranno presenti le varie funzioni -->
				    	<div class="mx-2">
				    		<a class="btn btn-primary my-1" href="">Visualizza Catalogo</a>
				    		<a class="btn btn-primary my-1" href="">Catalogo con ristampe recenti</a>
							<a class="btn btn-primary my-1" href="">Ultime 10 pubblicazioni inserite</a>
							<a class="btn btn-primary my-1" href="">Pubblicazioni aggiornate di recente</a>
							<a class="btn btn-primary show-modal my-1" href="#modal_utente">Elenco utenti più collaborativi</a><!-- Si apre un modal contenente la lista degli utenti -->

							<div id="modal_utente" class="modal modal-lg">
								    <div class="modal-overlay"></div>
								    <div class="modal-container">
								        <div class="modal-header">
								            <a href="#close" class="btn btn-clear float-right close-modal"></a>
								            <div class="modal-title">Modal title</div>
								        </div>
								        <div class="modal-body">
								            <div class="content">
								              	<div class="container">
													<div class="columns col-gapless">
														<div class="column col-12">
															<div class="text-left text-bold"><p>Elenco Utenti più collaborativi</p></div>
														</div>
													</div>
												</div>
												<table class="table table-striped table-hover">
												  	<thead>
												    	<tr>
													      <th>Nome</th>
													      <th>Cognome</th>
													      <th>Data di Nascita</th>  
													      <th>Email</th>
													      <th>N.Inserimenti</th>
													      <th>Elenco Ins.</th>
												    	</tr>
													</thead>
													<!-- tbody è l'attributo da moltiplicare in base al risultato delle query -->
													<tbody>
													    <tr>
													    	<td>Marione</td>
													    	<td>Gerionamoltana</td>
													    	<td>10/20/1000</td>
													    	<td>marioneElGamamamamamamamanao@gmail.com</td>
													    	<td>10</td>
													    	<td><button class="btn btn-action">Lista</button></td>
													    </tr>
													    <tr>
													    	<td>Giarlone</td>
													    	<td>Geasd asdasdltana</td>
													    	<td>10/20/1030</td>
													    	<td>marionasdasddnao@gmail.com</td>
													    	<td>7</td>
													    	<td><button class="btn btn-action">Lista</button></td>
													    </tr>
													</tbody>
												</table>
								            </div>
								        </div>
								        <div class="modal-footer">
								            <a href="#close" class="btn btn-primary close-modal">Close</a>
								        </div>
								    </div>
							</div>


						</div>
				  </div>

				  <div class="divider-vert col-1" data-content=""></div>
				  <div class="column col-9">
				    	<!-- colonna di destra: qui sarà presente il motore di ricerca del catalogo -->
				    	<h3><p>Benvenuti nella biblioteca digitale Alfa Omega!</p></h3>
				    	<p>Si può usare il nostro motore di ricerca per cercare le pubblicazioni desiderate!</p>
				  		<div class="form-group">
				  			<label class="form-label" for="motore_ricerca">Motore di ricerca</label>
				  			<input class="form-input" style="width:75%" type="text" id="motore_ricerca" placeholder="Scrivi qui">

				  			<label class="form-label d-inline pr-1">Ricerca per: </label>
				  			<label class="form-radio d-inline">
				  				<input type="radio" name="attributo" value="titolo" checked>
				  				<i class="form-icon"></i> Titolo
				  			</label>
				  			<label class="form-radio d-inline">
				  				<input type="radio" name="attributo" value="isbn">
				  				<i class="form-icon"></i> ISBN
				  			</label>
				  			<label class="form-radio d-inline">
				  				<input type="radio" name="attributo" value="autore">
				  				<i class="form-icon"></i> Autore
				  			</label>
				  			<label class="form-radio d-inline">
				  				<input type="radio" name="attributo" value="editore">
				  				<i class="form-icon"></i> Editore
				  			</label>
				  			<label class="form-radio d-inline">
				  				<input type="radio" name="attributo" value="tag">
				  				<i class="form-icon"></i> Tag 
				  			</label>

				  			<label class="form-switch">
							    <input type="checkbox">
							    <i class="form-icon"></i> Download Disponibili
							</label>
							
				  		</div>

				  		
				  </div>
			</div>
			

	</body>
	<!-- 
	
	-->
	<footer class="navbar p-2 bg-dark" style="position:absolute;bottom:0;width:100vw">
		<section class="navbar-section">
		    	<a href="..." class="btn btn-link text-light">Aiuto!</a>
		</section>

		<section class="navbar-section">
		    	<div class="input-group input-inline">
		      		<a href="..." class="btn btn-link text-light pr-2">Copyright @ Federico Tersigni 2019</a>
		    	</div>
		</section>
	</footer>

</html>