
<#include "header.html">

	<body class="bg-secondary">
		
		<!-- divider element -->	
			<!-- vertical divider element with text -->
			<div class="columns pt-2">
				  <div class="column col-2">
				   		<!-- Colonna di sinistra: qui saranno presenti le varie funzioni -->
				    	<div class="mx-2">
				    		<a class="btn btn-primary my-1" href="ricercaPubblicazione?tipoRicerca=5">Visualizza Catalogo</a>
				    		<a class="btn btn-primary my-1" href="ricercaPubblicazione?tipoRicerca=1">Catalogo con ristampe recenti</a>
							<a class="btn btn-primary my-1" href="ricercaPubblicazione?tipoRicerca=2">Ultime 10 pubblicazioni inserite</a>
							<a class="btn btn-primary my-1" href="ricercaPubblicazione?tipoRicerca=3">Pubblicazioni aggiornate di recente</a>
							<a class="btn btn-primary my-1" href="ricercaPubblicazione?tipoRicerca=4">Pubblicazioni che hanno un download</a>
							<a class="btn btn-primary show-modal my-1" href="#modal_utente">Elenco utenti piu' collaborativi</a><!-- Si apre un modal contenente la lista degli utenti -->
							
							
							<div id="modal_utente" class="modal modal-lg">
								    <div class="modal-overlay"></div>
								    <div class="modal-container">
								        <div class="modal-header">
								            <a href="#close" class="btn btn-clear float-right close-modal"></a>
								            <div class="modal-title text-left text-bold">Elenco Utenti piu' collaborativi</div>
								        </div>
								        <div class="modal-body">
								            <div class="content">
								              	<div class="container">
													
												</div>
												<table class="table table-striped table-hover">
												  	<thead>
												    	<tr>
												    		<th>Email</th>
													      	<th>Ruolo</th>
													      	<th>N.Inserimenti</th>
												    	</tr>
													</thead>
													<!-- tbody è l'attributo da moltiplicare in base al risultato delle query -->
													<#if listaUtenti??>
														<#list listaUtenti as Utente>
															<tbody>
															    <tr>
															    	<td><a href="dettagliProfilo?codice=${Utente.getId()}">${Utente.getEmail()}</a></td>
															    	<td>${Utente.getRuolo()}</td>
															    	<td>${Utente.getAttCont()}</td>
		
															    </tr>
															    
															</tbody>
														</#list>
													</#if>
												</table>
								            </div>
								        </div>
								        <div class="modal-footer">
								            <a href="#close" class="btn btn-primary close-modal">Close</a>
								        </div>
								    </div>
							</div>


						</div>
				  </div>

				  <div class="divider-vert col-1" data-content=""></div>
				  <div class="column col-9">
				    	<!-- colonna di destra: qui sarà presente il motore di ricerca del catalogo -->
				    	<div class="text-center">
					    	<h3><p>Benvenuti nella biblioteca digitale Alfa Omega!</p></h3>
					    	<p>Si puo' usare il nostro motore di ricerca per cercare le pubblicazioni desiderate!</p>
				    	</div>
				    	<br>
				    	<br>
				    	<form method="post" role="form"> <!-- FORM DELLA RICERCA -->
					  		<div class="form-group">
					  			<div class="columns col-gapless">
					  				<div class="columns col-10 col-mx-auto">
						  				<div class="col-6">
						  				
										  	<label class="form-label text-center" for="titolo"><b>Titolo</b></label>
										  	<input class="form-input" type="text" id="titolo" name="titolo" placeholder="Titolo" required>
	
						  				</div>
						  				<div class="col-6">
						  					<label class="form-label text-center" for="codiceisbn"><b>ISBN</b></label>
										  	<input class="form-input" type="text" id="codiceisbn" name="codiceisbn" placeholder="ISBN" required>
						  					
						  				</div>
						  			</div>
						  			<div class="columns col-10 col-mx-auto">
						  				<div class="col-6">
						  					<label class="form-label text-center" for="autore"><b>Nome Autore</b></label>
										  	<input class="form-input" type="text" id="autore" name="autore" placeholder="Nome Autore" required>
						  					
						  				</div>
						  				<div class="col-6">
						  					<label class="form-label text-center" for="tag"><b>Tag</b></label>
										  	<input class="form-input" type="text" id="tag" name="tag" placeholder="Tag" required>
						  				
						  				</div>
						  			</div>
					  			</div>

					  			
								
					  		</div>
					  		<br>
					  		<div class="columns">
					  			<div class="col-6 col-mx-auto">
						  				<div class="col-6 col-mx-auto">
						  					<button type="submit" class="btn p-centered text-bold my-3" id="search" name="value" value="search" required>Cerca!</button>
						  				</div>
						  		</div>
						  	</div>
					  	</form>
				  		
				  </div>
			</div>
			<script type="text/javascript">
			$(".close-modal").on("click", function() {
				alert("PROVA!!!!!");
			  $(this).closest('.modal').removeClass('active');
			});

			$(".show-modal").on("click", function() {
				alert("INIZIO")!!
			  $('.modal').addClass('active');
			});

			</script>

	</body>
	
<#include "footer.html">

