<#include "header.html">
	<body>
		<div class="container">
			<div class="columns col-gapless">
				<div class="col-12">
					<p><div class="text-bold text-center"><h1>Inserimento Pubblicazione</h1></div></p>
				</div>
			</div>
			<br>
			<div class="columns">
				<div class="col-6 col-mx-auto">
				
					<form class="form-horizontal" method="post" role="form">
						<div class="form-group">
							<div class="col-3 col-sm-12">
							    <label class="form-label" for="input_titolo">Titolo</label>
							</div>
							<div class="col-9 col-sm-12">
							    <input class="form-input" type="text" name="titolo" id="input_titolo" placeholder="Titolo" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-3 col-sm-12">
							    <label class="form-label" for="input_descr">Descrizione</label>
							</div>
							<div class="col-9 col-sm-12">
								<textarea class="form-input" id="input_descr" name="descrizione" placeholder="Textarea" rows="3" required></textarea>
							   
							</div>
						</div>
						<div class="form-group">
							<div class="col-3 col-sm-12">
							    <label class="form-label" for="input_editore">Editore</label>
							</div>
							<div class="col-9 col-sm-12">
							    <input class="form-input" type="text" name="editore" id="input_editore" placeholder="Editore" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-3 col-sm-12">
							    <label class="form-label" for="input_dataPub">Data Pubblicazione</label>
							</div>
							<div class="col-9 col-sm-12">
							    <input class="form-input" type="date" name="dataScrittura" id="input_dataPub" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-3 col-sm-12">
							    <label class="form-label" for="input_ISBN">Codice ISBN</label>
							</div>
							<div class="col-9 col-sm-12">
							    <input class="form-input" type="text" name="ISBN" id="input_ISBN" placeholder="ISBN" 
							    pattern="97[89][0-9]{10}" required title="Devono essere 13 cifre">
							</div>
						</div>
						<div class="form-group">
							<div class="col-3 col-sm-12">
							    <label class="form-label" for="input_numPagine">Numero Pagine</label>
							</div>
							<div class="col-9 col-sm-12">
							    <input class="form-input" type="text" name="numPagine" id="input_numPagine" placeholder="Numero delle pagine contenute" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-3 col-sm-12">
							    <label class="form-label" for="input_lingua">Lingua</label>
							</div>
							<div class="col-9 col-sm-12">
							    <input class="form-input" type="text" name="lingua" id="input_lingua" placeholder="Lingua usata nella pubblicazione" required>
							</div>
						</div>
						<!-- Lista Tag && Lista Autori sono identici -->
						<!-- Bisogna a) creare un modal b) metterci una lista di "opzioni" che si possono selezionare -->
						<br>

						<div class="form-group"> <!-- Form Group INSERISCI TAG -->
							<a class="btn btn-primary show-modal col-mx-auto" href="#modalTag">Inserimento Tag</a>
							<div id="modalTag" class="modal modal-lg">
								    <div class="modal-overlay"></div>
								    <div class="modal-container">
								        <div class="modal-header">
								            <a href="#close" class="btn btn-clear float-right close-modal"></a>
								            <div class="modal-title">Inserimento Tag</div>
								        </div>
								        <div class="modal-body">
								            <div class="content">
								              	<div class="form-group">
								              		<!-- Questa è la parte che viene moltiplicata dalla query -->
								              		<#if listaTag ??>
								              			<#list listaTag as Tag>
															  <label class="form-checkbox">
																    <input type="checkbox" name="tagSpunta" value="${Tag.getId()}">
																    <i class="form-icon"></i> ${Tag.getNome()}
															  </label>
															  <br>
														</#list>
													</#if>
													<!-- fine parte -->
												</div>
								            </div>
								        </div>
								        <div class="modal-footer">
								            <a href="#close" class="btn btn-primary close-modal">Close</a>
								        </div>
								    </div>
							</div>
						
							<a class="btn btn-primary show-modal col-mx-auto" href="#modalAutore">Inserimento Autore</a>
							<div id="modalAutore" class="modal modal-lg">
								    <div class="modal-overlay"></div>
								    <div class="modal-container">
								        <div class="modal-header">
								            <a href="#close" class="btn btn-clear float-right close-modal"></a>
								            <div class="modal-title">Inserimento Autore</div>
								        </div>
								        <div class="modal-body">
								            <div class="content">
								              	<div class="form-group">
								              		<!-- Questa è la parte che viene moltiplicata dalla query -->
								              		<#if listaAutore ??>
								              			<#list listaAutore as Autore>
															  <label class="form-checkbox">
															    <input type="checkbox" name="autoreSpunta" value="${Autore.getId()}">
															    <i class="form-icon"></i> ${Autore.getNome()}
															  </label>
															  <br>
														</#list>
													</#if>
													<!-- fine parte -->
												</div>
								            </div>
								        </div>
								        <div class="modal-footer">
								            <a href="#close" class="btn btn-primary close-modal">Close</a>
								        </div>
								    </div>
							</div>
						</div><!-- FINE Form Group INSERISCI AUTORE -->
						<br>
						<button type="submit" class="btn p-centered text-bold" id="invioPubb" name="value" value="invia" required>Invia Pubblicazione</button>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(".close-modal").on("click", function() {
				alert("PROVA!!!!!");
			  $(this).closest('.modal').removeClass('active');
			});

			$(".show-modal").on("click", function() {
				alert("INIZIO")!!
			  $('.modal').addClass('active');
			});

		</script>
	</body>

<#include "footer.html">