<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content="Tersigni  Federico"/>
		<title>Pannello di Gestione</title>
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
	</head>
	<header class="navbar p-2 bg-dark">
		  <section class="navbar-section">
		   		<a href="..." class="navbar-brand mr-2 text-light">Biblioteca Alfa Omega</a>
		    	<a href="..." class="btn btn-link text-light">Catalogo</a>
		    	<a href="..." class="btn btn-link text-light">Aiuto</a>
		  </section>

		  <section class="navbar-section">
		  		<!-- SE loggato --><!--
		    	<div class="input-group input-inline">
		    		<!-- SE ATTIVO O ADMIN --><!--
					<a href="..." class="btn btn-link text-light">Pannello di Gestione</a>
		    		-->
		      		<a href="..." class="btn btn-link text-light">Connesso come email@email.com</a>
		    		<a href="..." class="btn btn-link text-primary">(logout)</a>
		    	</div> -->
		    	<!-- SE NON LOGGATO -->
		    	<!--
		    	<div class="input-group input-inline">
		    		<a href="..." class="btn btn-link text-light">Login</a>
		    		<a href="..." class="btn btn-link text-light">Registrati</a>
		    	</div>
		    	-->
		  </section>
	</header>
	<body>
		<div class="container">
			<div class="columns col-gapless">
				<div class="col-12">
					<p><div class="text-bold text-center"><h1>Pannello di Gestione</h1></div></p>
					<p><div class="text-bold text-center"><h3>Admin</h3></div></p><!-- ADMIN o MODERATORE -->
				</div>
			</div>
			<br>
			<div class="columns col-gapless">
				<div class="col-4 col-mx-auto">
					<p><a href="..." class="btn btn-primary p-centered"> Gestione Recensioni </a></p>
					<p><a href="..." class="btn btn-primary p-centered"> Gestione Pubblicazioni </a></p>
					<p><a href="..." class="btn btn-primary p-centered"> Gestione Utenza </a></p>
					<p><a href="..." class="btn btn-primary p-centered"> Gestione Tag </a></p>
					<p><a href="..." class="btn btn-primary p-centered"> Gestione Autori </a></p>
					<p><a href="..." class="btn btn-primary p-centered"> Gestione Editore </a></p>
					<p><a href="..." class="btn btn-primary p-centered"> Gestione Azioni Utente Attivo </a></p>
				</div>
			</div>
		</div>
	</body>
	<footer class="navbar p-2 bg-dark" style="position:absolute;bottom:0;width:100vw">
		<section class="navbar-section">
		    	<a href="..." class="btn btn-link text-light">Aiuto!</a>
		</section>

		<section class="navbar-section">
		    	<div class="input-group input-inline">
		      		<a href="..." class="btn btn-link text-light pr-2">Copyright @ Federico Tersigni 2019</a>
		    	</div>
		</section>
	</footer>

</html>