<#include "header.html">
	
	<body>
		
		<br>
		<div class="container">
			<div class="columns col-gapless">
				<div class="col-12">
					<p><div class="text-bold text-center"><h1>Registrazione</h1></div></p>
				</div>
			</div>
			<br>
			<form class="form-horizontal" method="post" role="form">
				  <div class="form-group">
					    <div class="col-3 col-sm-12">
					      	<label class="form-label" for="input_nome">Nome</label>
					    </div>
					    <div class="col-9 col-sm-12">
					     	 <input class="form-input" type="text" id="input_nome" name="nome" placeholder="Nome" pattern=".{2,}" required>
					    </div>
				  </div>
				  <div class="form-group">
					    <div class="col-3 col-sm-12">
					      	<label class="form-label" for="input_cognome">Cognome</label>
					    </div>
					    <div class="col-9 col-sm-12">
					     	 <input class="form-input" type="text" id="input_cognome" name="cognome" placeholder="Cognome" pattern=".{2,}" required>
					    </div>
				  </div>
				  <div class="form-group">
					    <div class="col-3 col-sm-12">
					      	<label class="form-label" for="input_datanascita">Data Di Nascita</label>
					    </div>
					    <div class="col-9 col-sm-12">
					     	 <input class="form-input" type="date" id="input_datanascita" name="dataNascita" placeholder="DataNascita" required>
					    </div>
				  </div>
				  <div class="form-group">
					    <div class="col-3 col-sm-12">
					      	<label class="form-label" for="input_citta">Citta</label>
					    </div>
					    <div class="col-9 col-sm-12">
					     	 <input class="form-input" type="text" id="input_citta" name="citta" placeholder="Citta" pattern=".{2,}" required>
					    </div>
				  </div>
				  <div class="form-group">
					    <div class="col-3 col-sm-12">
					      	<label class="form-label" for="input_email">Email</label>
					    </div>
					    <div class="col-9 col-sm-12">
					     	 <input class="form-input" type="email" id="input_email" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,14}$" required>
					    </div>
				  </div>
				  <div class="form-group">
				  		<div class="col-3 col-sm-12">
				  			<label class="form-label" for="input_password">Password</label>
				  		</div>
				  		<div class="col-9 col-sm-12">
<!-- pattern validation example for password (8 or more characters that are of at least one number, and one uppercase and lowercase letter) -->
				  			<input class="form-input" type="text" id="input_password" name="password" placeholder="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" title="8 characters minimum" required>
				  		</div>
				  </div>
				  <div class="form-group">
				  		<div class="col-3 col-sm-12">
				  			<label class="form-label" for="input_password">Conferma Password</label>
				  		</div>
				  		<div class="col-9 col-sm-12">
				  			<input class="form-input" type="text" id="conferma_password" placeholder="ConfermaPassword" required>
				  		</div>
				  </div>
				  <br>
				  <button type="submit" class="btn p-centered text-bold" id="invioForm" name="value" value="sign" required>Effettua la Registrazione!</button>
			</form>
		</div>

		<!-- SCRIPT => la parte dove avviene la conferma della password  // DA CAMBIARE-->
		<script>
			var password = document.getElementById("input_password"), confirm_password = document.getElementById("conferma_password");
		

			function validatePassword(){
			  if(password.value != confirm_password.value) {
			    confirm_password.setCustomValidity("La password non è la stessa.");
			    
			  } else {
			    confirm_password.setCustomValidity('');
			  }
			}

			password.onchange = validatePassword;
			confirm_password.onkeyup = validatePassword;
		</script>
	</body>
	
<#include "footer.html">
