<#include "header.html">
	<body>
		<br>
		<div class="container">
			<div class="columns col-gapless">
				<div class="column col-12">
					<div class="text-left text-bold">
						<p>Risultati trovati per "stringa cercata": 20 </p>
					</div>
				</div>
			</div>
		</div>
		<table class="table table-striped table-hover">
		  	<thead>
		    	<tr>
			      <th>Titolo</th>
			      <th>Autore</th>
			      <th>Editore</th>  
			      <th>ISBN</th>
			      <th>Data rilascio</th>
			      <th>Data Ultima Ristampa</th>
			      <th>Download</th>

		    	</tr>
			</thead>
			<!-- tbody è l'attributo da moltiplicare in base al risultato delle query -->
			<tbody>
			    <tr>
			      <td>La prova delle prove kjkbjhbhj hkj hkh hlj klj kllkj lkjlkjkk k kl j lk jlk</td>
			      <td>Autore pubblicazione</td>
			      <td>Editore</td>
			      <td>1234123412341234</td>
			      <td>13/12/2018</td>
			      <td>15/12/2019</td>
			      <td>Sì</td>
			      <td><button class="btn btn-action">Tags</button></td>
			      <td><button class="btn btn-action"><i class="icon icon-arrow-right"></i></button></td>
			    </tr>
			    
			    <tr>
			      <td>La prova delle prove kjkbjhbhj hkj hkh hlj klj kllkj lkjlkjkk k kl j lk jlk</td>
			      <td>Autore pubblicazione fdh fhgh fd hfd hgf hdgf</td>
			      <td>Editore dh  fdg dfghg fhfg hdfhfdhg df hdfgh</td>
			      <td>1234123412341234</td>
			      <td>13/12/2018</td>
			      <td>15/12/2019</td>
			      <td>Sì</td>
			      <td><button class="btn btn-action">Tags</button></td>
			      <td><button class="btn btn-action"><i class="icon icon-arrow-right"></i></button></td>
			    </tr>
			    <tr>
			      <td>La prova delle prove kjkbjhbhj hkj hkh hlj klj kllkj lkjlkjkk k kl j lk jlk</td>
			      <td>Autore pubblicazione</td>
			      <td>Editore</td>
			      <td>1234123412341234</td>
			      <td>13/12/2018</td>
			      <td>15/12/2019</td>
			      <td>Sì</td>
			      <td><button class="btn btn-action">Tags</button></td>
			      <td><button class="btn btn-action"><i class="icon icon-arrow-right"></i></button></td>
			    </tr>
		 	</tbody>
		</table>
	</body>
<#include "footer.html">