<#include "header.html">
	<body>
		<br>
		<div class="container">
			<div class="columns col-gapless">
				<div class="column col-12">
					<div class="text-left text-bold">
						<p>Risultati trovati per "stringa cercata": 20 </p>
					</div>
				</div>
			</div>
		</div>
		<table class="table table-striped table-hover">
		<!--  in base al tipo di ricerca, si cambiano i campi di visualizzazione della tabella -->
			<#if tipoRicerca == 0><!-- id - titolo - isbn - autori - tags   -->
				<thead>
			    	<tr>
						<th>Titolo</th> 
						<th>ISBN</th>
						<th>Autore/i</th>
						<th>Tags</th>
					
			    	</tr>
				</thead>
				<#if pubblicazioni ??>
					<#list pubblicazioni as Pubblicazione>
						<tbody>
						    <tr>
						    	 <td><a href="dettagliPubblicazione?codice=${Pubblicazione.getId()}">${Pubblicazione.getTitolo()}</a></td>
						    	 <td>${Pubblicazione.getCodiceISBN()}</td>
						    	 <td>${Pubblicazione.showAutori()}</td>
						    	 <td>${Pubblicazione.showTags()}</td>
						    </tr>
						</tbody>
						
					</#list>
				</#if>
				
			<#elseif tipoRicerca ==1><!-- id - titolo - autore/i - ultima ristampa - nome ristampa  -->
				<thead>
			    	<tr>
						<th>Titolo</th> 
						<th>Autore/i</th>
						<th>Ultima Ristampa</th>
						<th>Nome Ristampa</th>
					
					
			    	</tr>
				</thead>
				<#if pubblicazioni ??>
					<#list listaPub as Pubblicazione>
						<tbody>
						    <tr>
						    	 <td><a href="dettagliPubblicazione?codice=${Pubblicazione.getId()}">${Pubblicazione.getTitolo()}</a></td>
						    	 <td>${Pubblicazione.showAutori()}</td>
						    	 <td>data ultima Ristampa </td>
						    	 <td>nome della ristampa o numero</td>
						    </tr>
						</tbody>
						
					</#list>
				</#if>
			<#elseif tipoRicerca ==2><!-- id - titolo - autore/i - isbn - data invio -->
				<thead>
			    	<tr>
						<th>Titolo</th> 
						<th>ISBN</th>
						<th>Autore/i</th>
						<th>Data Inserimento</th>
					
			    	</tr>
				</thead>
				<#if pubblicazioni ??>
					<#list listaPub as Pubblicazione>
						<tbody>
						    <tr>
						    	 <td><a href="dettagliPubblicazione?codice=${Pubblicazione.getId()}">${Pubblicazione.getTitolo()}</a></td>
						    	 <td>${Pubblicazione.getCodiceISBN()}</td>
						    	 <td>${Pubblicazione.showAutori()}</td>
						    	 <td>${Pubblicazione.getDataInserimento()}</td>
						    </tr>
						</tbody>
						
					</#list>
				</#if>
			<#elseif tipoRicerca ==3><!-- id - titolo - isbn - data dell'entry!! - nome inseritore -->
				<thead>
			    	<tr>
						<th>Titolo</th> 
						<th>ISBN</th>
						<th>Data Ultima Modifica</th>
						<th>Modifica effettuata da</th>
					
			    	</tr>
				</thead>
				<#if pubblicazioni ??>
					<#list listaPub as Pubblicazione>
						<tbody>
						    <tr>
						    	 <td><a href="dettagliPubblicazione?codice=${Pubblicazione.getId()}">${Pubblicazione.getTitolo()}</a></td>
						    	 <td>${Pubblicazione.getCodiceISBN()}</td>
						    	 <td>data ultima entry</td>
						    	 <td>modifica fatta da</td>
						    </tr>
						</tbody>
						
					</#list>
				</#if>
			<#elseif tipoRicerca ==4><!-- id - titolo - isbn - editore - download -->
				<thead>
			    	<tr>
						<th>Titolo</th> 
						<th>ISBN</th>
						<th>Editore</th>
						<th>Download</th>
					
			    	</tr>
				</thead>
				<#if pubblicazioni ??>
					<#list listaPub as Pubblicazione>
						<tbody>
						    <tr>
						    	 <td><a href="dettagliPubblicazione?codice=${Pubblicazione.getId()}">${Pubblicazione.getTitolo()}</a></td>
						    	 <td>${Pubblicazione.getCodiceISBN()}</td>
						    	 <td>${Pubblicazione.getEditore()}</td>
						    	 <td>Download SI o NO ?</td>
						    </tr>
						</tbody>
						
					</#list>
				</#if>
			<#else><!-- id - titolo - editore - autori - data di creazione -->
				<thead>
			    	<tr>
						<th>Titolo</th> 
						<th>Editore</th>
						<th>Autore/i</th>
						<th>Data di Pubblicazione</th>
					
			    	</tr>
				</thead>
				<#if pubblicazioni ??>
					<#list listaPub as Pubblicazione>
						<tbody>
						    <tr>
						    	 <td><a href="dettagliPubblicazione?codice=${Pubblicazione.getId()}">${Pubblicazione.getTitolo()}</a></td>
						    	 <td>${Pubblicazione.getEditore()}</td>
						    	 <td>${Pubblicazione.showAutori()}</td>
						    	 <td>${Pubblicazione.getDataCreazione()}</td>
						    </tr>
						</tbody>
						
					</#list>
				</#if>
			</#if>
		
		  	
		</table>
	</body>
<#include "footer.html">