<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <resource-ref>
    <res-ref-name>jdbc/biblioteca</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <display-name>AlphaOmega</display-name>
  <description>Piattaforma che contiene un catalogo bibliografico</description>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DettagliProfilo</servlet-name>
    <servlet-class>servlets.DettagliProfilo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettagliProfilo</servlet-name>
    <url-pattern>/dettagliProfilo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InserimentoPubblicazione</servlet-name>
    <servlet-class>servlets.InserimentoPubblicazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoPubblicazione</servlet-name>
    <url-pattern>/inserimentoPubblicazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>servlets.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DettagliPubblicazione</servlet-name>
    <servlet-class>servlets.DettagliPubblicazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettagliPubblicazione</servlet-name>
    <url-pattern>/dettagliPubblicazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PannelloGestione</servlet-name>
    <servlet-class>servlets.PannelloGestione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PannelloGestione</servlet-name>
    <url-pattern>/pannelloGestione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendUtenza</servlet-name>
    <servlet-class>servlets.BackendUtenza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendUtenza</servlet-name>
    <url-pattern>/backendUtenza</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendRecensione</servlet-name>
    <servlet-class>servlets.BackendRecensione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendRecensione</servlet-name>
    <url-pattern>/backendRecensione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendTag</servlet-name>
    <servlet-class>servlets.BackendTag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendTag</servlet-name>
    <url-pattern>/backendTag</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendPubblicazione</servlet-name>
    <servlet-class>servlets.BackendPubblicazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendPubblicazione</servlet-name>
    <url-pattern>/backendPubblicazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendEditore</servlet-name>
    <servlet-class>servlets.BackendEditore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendEditore</servlet-name>
    <url-pattern>/backendEditore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RicercaPubblicazione</servlet-name>
    <servlet-class>servlets.RicercaPubblicazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaPubblicazione</servlet-name>
    <url-pattern>/ricercaPubblicazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendAutore</servlet-name>
    <servlet-class>servlets.BackendAutore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendAutore</servlet-name>
    <url-pattern>/backendAutore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackendAzioniUtente</servlet-name>
    <servlet-class>servlets.BackendAzioniUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackendAzioniUtente</servlet-name>
    <url-pattern>/backendAzioniUtente</url-pattern>
  </servlet-mapping>



  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
</web-app>